* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f3d2e, #0b2e23);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
}
.head{
    color: antiquewhite;
    font-size: 70px;
}
.msg{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name{
    display: flex;
    justify-content: center;
    font-size: 90px;
    font-family: 'Orbitron', sans-serif;
    color: #ffe6e6;
}